@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');
body {
    margin: 0px;
    background-image: url(../img/background.jpg);
}
.headerdiv {
    margin-top: 0px;
    padding: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #242424;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}
.link {
    transition: 0.4s;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
}
.link:hover {
    background-color: #ffffff;
    color: #242424;
    padding: 24px 10px;
}
h1 {
    text-align: center;
    color: white;
    font-family: 'Stalinist One', cursive;
    font-weight: lighter;
    padding: 0px 20px;
    margin: 50px 0px;
    transition: 0.3s;
    animation-name: head;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}
.maindiv {
    background-color: grey;
    width: 700px;
    height: auto;
    margin: auto;
    color: #121212;
    text-align: justify;
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
}
.maindiv p {
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
    padding: 0px 10px;
}
img {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}
h2 {
    background-color: #242424;
    color: white;
    font-family: 'Manrope', sans-serif;
    padding: 2px 0px 2px 10px;
}
h1:hover {
    text-shadow: 1px 1px 1px black, 0 0 1em lime;   
}
.footer {
    display: inline-block;
}
footer {
    margin-bottom: 10px;
    background-color: #242424;
    color: white;
}
footer a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 0px 5px;
    transition: 0.2s;
}

.alldiv {
    margin-top: 122px;
}
.wiki {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding: 0px 20px;
}
.vk {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 0px 20px;
}
.inst {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 0px 20px;
}
.youtube {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 0px 20px;
}
h3 {
    color: #121212;
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    padding: 0px 10px;
}
.imgbonsai {
    width: 650px;
    height: 400px;
}
footer a:hover {
    transform: scale(1.5);
}
.history {
    width: 650px;
}
@keyframes head{
    0% {
        text-shadow: 1px 1px 1px black, 0 0 1em lime;
    }
    25% {
        text-shadow: 1px 1px 1px black, 0 0 1em yellow;
    }
    50% {
        text-shadow: 1px 1px 1px black, 0 0 1em red;
    }
    75% {
        text-shadow: 1px 1px 1px black, 0 0 1em blue;
    }
    100% {
        text-shadow: 1px 1px 1px black, 0 0 1em lime;
    }
}
.grow {
    width: 650px;
}